MONGO_URI=mongodb+srv://<username>:<password>@<cluster-address>.mongodb.net/pharmacy_db?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here
ADMIN_KEY=your_admin_registration_secret_key_here
PORT=5001
